name: Package Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  coverage:
    uses: Snapp-Mobile/swift-coverage-action/.github/workflows/swift-coverage.yml@main
